@import "@/A/global-variables.scss";
.project{
    background-color: $violet-light;
    padding-top: 6%;
    padding-bottom: 6%;
    &-container{
        width: 80%;
        
    &-title{
span{
    color:$yellow
}
    }
    &-item{
        height: 100%;
        background-color: $violet-dark;
        border-radius:  25px;
    }
}
}