@import "@/A/global-variables.scss";
.blog{
    background-color: $violet-dark;
    &-contain{
        width: 80%;

    &-img{
        max-height: 600px !important;
        img{
            width: 100% !important;
            height: 100% !important;
            max-height: 600px !important;
        }
        
    }
    &-backHome{
        border: none !important;
        background-color: transparent !important;
        position: relative;
        text-decoration: none !important;
        display: block;
        width:50px;
        height: 50px;
        &-icon{
          width:50px;
          height: 50px !important;
          color: $white !important;
        }
      }
    h1{
      color: $yellow !important;
      font-weight: 600;
      font-size: 2.25rem;
    }
    h2{
        font-size: 1.6rem !important;
    }
}
}