/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/contactSection/contactSection.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.contactSection {
  padding: 5%;
  background-color: #44285b;
}
.contactSection span {
  color: #fec260;
}
.contactSection-info {
  transition: all 0.3s linear;
}
.contactSection-info:hover {
  transform: scale(1.15);
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/Citation/Citation.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.citation {
  background-image: url(/Images/screens.jpg);
}
.citation-contain {
  width: 80%;
  max-width: 1000px;
  font-weight: 600;
  line-height: 2.5rem;
}
.citation-contain-name {
  color: #fec260 !important;
}
.citation-contain svg {
  height: 3rem;
  color: #fec260;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/firstSection/firstSection.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.firstSection {
  padding: 5%;
}
.firstSection span {
  color: #fec260;
}
.firstSection-div {
  width: 80%;
}
.firstSection h2 {
  line-height: 2.5rem;
}
.firstSection img {
  width: 100% !important;
  height: 100% !important;
}
.firstSection-Typewriter {
  min-height: 150px;
}
.firstSection-Typewriter span {
  color: #fff !important;
}
.firstSection-button {
  background-color: #fec260;
  border-radius: 25px;
}
.firstSection-button a {
  color: #2b0945 !important;
  font-weight: 800 !important;
  font-size: 1rem !important;
  text-decoration: none !important;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./node_modules/react-ts-typewriter/dist/Typewriter.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
.Typewriter_cursor__AiYeZ {
    animation: Typewriter_blinkingText__9hFU3 1s infinite;
}

@keyframes Typewriter_blinkingText__9hFU3 {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/Footer/Footer.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.footer p {
  font-size: 0.7rem !important;
}

.social-media {
  width: 20%;
}
@media screen and (max-width: 992px) {
  .social-media {
    width: 70%;
  }
}
/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/Experience/ExperienceEducation.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.experienceEducation {
  width: 80%;
}
.experienceEducation-card h3 {
  font-size: 1.6rem;
}
@media screen and (max-width: 600px) {
  .experienceEducation-card h3 {
    font-size: 1.3rem;
  }
}
.experienceEducation-card p {
  font-size: 1rem !important;
}
.experienceEducation-card-date {
  text-align: start;
  transform: translateY(-20px);
  -webkit-clip-path: polygon(70% 0, 100% 55%, 70% 100%, 0 99%, 0 0);
          clip-path: polygon(70% 0, 100% 55%, 70% 100%, 0 99%, 0 0);
  background-color: #44285b;
  max-width: 130px;
}
@media screen and (max-width: 400px) {
  .experienceEducation-card-date {
    padding: 0.5rem !important;
  }
  .experienceEducation-card-date p {
    line-height: 1rem;
    font-size: 0.8rem !important;
  }
}
.experienceEducation-card-date p {
  line-height: 1rem;
  font-size: 0.6rem !important;
}
.experienceEducation-card-info {
  padding-left: 60px !important;
}
.experienceEducation-card-info:after {
  content: "";
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #fec260;
  box-shadow: 0px 0px 7px 0px #fec260;
  top: 0;
  margin-left: -40px !important;
}
.experienceEducation-card-info:before {
  content: "";
  position: absolute;
  width: 2px;
  height: 80%;
  top: calc(45% + 30px);
  left: 28px;
  transform: translate(0, -50%);
  border-radius: 50%;
  background-color: #fff;
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/switcher.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/Header/Header.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header {
  background-color: #44285b;
  opacity: 0.85;
  box-shadow: 1px 6px 13px -5px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 1px 6px 13px -5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 6px 13px -5px rgba(0, 0, 0, 0.3);
}
.header-logo {
  max-width: 150px;
}
.header-link {
  font-size: 1rem;
  font-weight: 600;
}
.header-link:hover {
  color: #fec260 !important;
}
.header-link:focus {
  color: #fec260 !important;
}
.header-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.header-active {
  color: #fec260 !important;
}

.reseau-social {
  bottom: 15%;
  left: 2%;
}
@media screen and (max-width: 992px) {
  .reseau-social {
    left: 1%;
  }
}
.reseau-social svg {
  fill: rgba(255, 255, 255, 0.6666666667);
}
@media screen and (max-width: 992px) {
  .reseau-social svg {
    height: 1rem !important;
  }
}
.reseau-social a {
  display: block !important;
  margin: 20px auto !important;
}
.reseau-social a:hover svg {
  fill: #fec260;
}

.reseau-social:after {
  content: "";
  content: "";
  width: 2px;
  display: block;
  height: 200px;
  background-color: rgba(255, 255, 255, 0.6666666667);
  position: absolute;
  left: calc(2% + 0.9rem);
}
@media screen and (max-width: 992px) {
  .reseau-social:after {
    left: calc(1% + 0.4rem);
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/Project/ItemProject/ItemProject.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.itemProject-img {
  width: 95% !important;
  max-height: 300px !important;
  position: relative;
  cursor: pointer;
}
.itemProject-img img {
  border-radius: 25px;
  width: 100% !important;
  height: 100% !important;
  max-height: 250px !important;
}
.itemProject-img video {
  width: 100% !important;
  height: 100% !important;
}
.itemProject-img:hover img {
  border-radius: 25px;
}
.itemProject-img:hover:after {
  content: "+";
  border-radius: 25px;
  font-size: 100px;
  color: #44285b;
  position: absolute;
  background-color: rgba(254, 193, 96, 0.6156862745);
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.itemProject h3 {
  font-size: 1.25rem !important;
  text-transform: uppercase;
}
.itemProject h3:hover {
  color: #fec260 !important;
}
.itemProject-link {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
.itemProject a {
  text-decoration: none;
}
.itemProject-popUp {
  background-color: #fff;
  z-index: 100000;
  margin: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 90%;
  width: 85%;
  max-width: 1000px;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/Project/ProjectDelails/ProjectDelails.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.project-details img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.project-details-closeBtn {
  background-color: #fff;
  padding: 0.2rem 1rem;
  border: 2px solid #44285b;
  display: flex;
  align-items: center;
}
.project-details-closeBtn svg {
  height: 2rem;
  color: #2b0945;
}
.project-details-closeBtn:hover {
  background-color: #fec260;
  border: 2px solid #fec260;
}
.project-details-closeBtn:hover svg {
  color: #fff;
}
.project-details-title h4 {
  color: #2b0945 !important;
  font-weight: 600;
}
.project-details-title::after {
  content: "";
  border-bottom: 1px solid #44285b;
  right: 13px;
  bottom: 0;
  width: 100%;
  position: absolute;
}
.project-details p {
  color: #2b0945 !important;
  font-size: 14px !important;
}
.project-details h5, .project-details h6 {
  color: #2b0945 !important;
  font-weight: 600;
}
.project-details h5:after {
  content: "";
  border-bottom: 1px solid #44285b;
  left: 0px;
  bottom: 0;
  width: 90%;
  position: absolute;
}
.project-details-link svg {
  color: #2b0945 !important;
}
.project-details a {
  border: 2px solid #44285b;
  display: block;
  margin: 1rem auto;
  max-width: 200px;
  padding: 0.8rem 1rem 0.1rem;
  font-weight: 600;
  text-decoration: none;
}
.project-details a:hover {
  border: 2px solid #fec260;
  background-color: #fec260;
}
.project-details-scroll {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 700px;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/ScrollToTopButton.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.scrollToTop {
  bottom: 2%;
  right: 1%;
  border: 3px solid #fec260 !important;
  border-radius: 50% !important;
  background-color: transparent !important;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/secondSection/secondSection.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.secondSection {
  padding: 5%;
  background-color: #44285b;
}
.secondSection-div-title {
  color: #fff;
  font-weight: 600;
}
.secondSection-div-title-part-2 {
  color: #fec260 !important;
}
.secondSection img {
  width: 100% !important;
  height: 100% !important;
}
.secondSection a {
  color: #fec260 !important;
}
.secondSection-illustre-double-part-1 {
  height: 50%;
  margin-top: 10% !important;
  margin-bottom: 10% !important;
  display: block;
  width: 100%;
  max-width: 60px;
  background-color: #fec260;
  border-radius: 30px;
}
.secondSection-illustre-double-part-2 {
  height: 10%;
  margin-bottom: 10% !important;
  margin-top: 10% !important;
  display: block;
  width: 100%;
  max-width: 60px;
  max-height: 60px;
  background-color: #fff;
  border-radius: 50%;
}
.secondSection-illustre-single {
  height: 60% !important;
  margin-top: 10% !important;
  display: block;
  width: 100%;
  max-width: 60px;
  border: 3px solid #fff;
  border-radius: 30px;
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/ServicesSection/ServicesSection.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.service-section {
  width: 80%;
  display: block;
  margin: auto;
}
.service-section-block {
  border: 1px solid rgba(241, 241, 241, 0.568627451);
  border-radius: 30px;
  background-color: #44285b;
  width: 30%;
}
@media screen and (max-width: 992px) {
  .service-section-block {
    width: 45%;
  }
}
@media screen and (max-width: 680px) {
  .service-section-block {
    width: 100%;
  }
}
.service-section-block-icon {
  width: 100%;
  height: 100%;
  max-width: 50px;
  max-height: 50px;
  display: block;
  margin: auto;
}
.service-section-block-icon-item {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .service-section-block:hover {
    transform: translateY(-5%);
  }
}
.service-section span {
  color: #fec260;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/skillsSection/skillsSection.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.skillsSection {
  padding: 5%;
  background-color: #44285b;
}
.skillsSection span {
  color: #fec260 !important;
}
.skillsSection-image {
  max-width: 25px !important;
  max-height: 25px !important;
}
.skillsSection-image img {
  width: 100% !important;
  height: 100% !important;
}
@media screen and (min-width: 992px) {
  .skillsSection-col {
    border-bottom: 1px solid #fff;
  }
}
@media screen and (min-width: 992px) {
  .skillsSection-pair {
    border-right: 1px solid #fff;
    position: relative;
  }
}
@media screen and (min-width: 992px) {
  .skillsSection-pair:after {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #fec260;
    box-shadow: 0px 0px 7px 0px #fec260;
    border-radius: 50%;
    right: -9px;
    bottom: -9px;
    z-index: 100;
  }
}
.skillsSection-card {
  background-color: #2b0945;
  border: 1px solid rgba(241, 241, 241, 0.568627451);
  border-radius: 20px;
  max-width: 70px !important;
  min-width: 70px;
  height: 70px;
}
.skillsSection-card p {
  font-size: 0.6rem !important;
}
.skillsSection-card:hover {
  background-color: #fec260;
}
.skillsSection-card:hover p {
  color: #2b0945 !important;
  font-weight: 600;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/Project/Project.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.project {
  background-color: #44285b;
}
.project-container {
  width: 80%;
}
.project-container-title span {
  color: #fec260;
}
.project-container-item {
  height: 100%;
  background-color: #2b0945;
  border-radius: 25px;
}
