/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/contactSection/contactSection.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.contactSection {
  padding: 5%;
  background-color: #44285b;
}
.contactSection span {
  color: #fec260;
}
.contactSection-info {
  transition: all 0.3s linear;
}
.contactSection-info:hover {
  transform: scale(1.15);
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/firstSection/firstSection.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.firstSection {
  padding: 5%;
}
.firstSection span {
  color: #fec260;
}
.firstSection-div {
  width: 80%;
}
.firstSection h2 {
  line-height: 2.5rem;
}
.firstSection img {
  width: 100% !important;
  height: 100% !important;
}
.firstSection-Typewriter {
  min-height: 150px;
}
.firstSection-Typewriter span {
  color: #fff !important;
}
.firstSection-button {
  background-color: #fec260;
  border-radius: 25px;
}
.firstSection-button a {
  color: #2b0945 !important;
  font-weight: 800 !important;
  font-size: 1rem !important;
  text-decoration: none !important;
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[7].use[3]!./node_modules/react-ts-typewriter/dist/Typewriter.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
.Typewriter_cursor__AiYeZ {
    animation: Typewriter_blinkingText__9hFU3 1s infinite;
}

@keyframes Typewriter_blinkingText__9hFU3 {
    0% {
        opacity: 1;
    }

    49% {
        opacity: 1;
    }

    60% {
        opacity: 0;
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/Footer/Footer.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/switcher.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/

/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/Header/Header.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.header {
  background-color: #44285b;
  opacity: 0.8;
}
.header-logo {
  max-width: 150px;
}
.header-link {
  font-size: 1rem;
  font-weight: 600;
}
.header-link:hover {
  color: #fec260 !important;
}
.header-link:focus {
  color: #fec260 !important;
}
.header-title {
  font-size: 1.5rem;
  font-weight: 600;
}
.header-active {
  color: #fec260 !important;
}
/*!************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/ScrollToTopButton.scss ***!
  \************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.scrollToTop {
  bottom: 2%;
  right: 1%;
  border: 3px solid #fec260 !important;
  border-radius: 50% !important;
  background-color: transparent !important;
}
/*!**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[12].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[12].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[12].oneOf[13].use[5]!./src/component/secondSection/secondSection.scss ***!
  \**********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.secondSection {
  padding: 5%;
  background-color: #44285b;
}
.secondSection-div-title {
  color: #fff;
  font-weight: 600;
}
.secondSection-div-title-part-2 {
  color: #fec260 !important;
}
.secondSection img {
  width: 100% !important;
  height: 100% !important;
}
.secondSection a {
  color: #fec260 !important;
}
.secondSection-illustre-double-part-1 {
  height: 50%;
  margin-top: 10% !important;
  margin-bottom: 10% !important;
  display: block;
  width: 100%;
  max-width: 60px;
  background-color: #fec260;
  border-radius: 30px;
}
.secondSection-illustre-double-part-2 {
  height: 10%;
  margin-bottom: 10% !important;
  margin-top: 10% !important;
  display: block;
  width: 100%;
  max-width: 60px;
  max-height: 60px;
  background-color: #fff;
  border-radius: 50%;
}
.secondSection-illustre-single {
  height: 60% !important;
  margin-top: 10% !important;
  display: block;
  width: 100%;
  max-width: 60px;
  border: 3px solid #fff;
  border-radius: 30px;
}
