@import "@/A/global-variables.scss";
.all-blog{
    background-color: $violet-dark;
    height: 100%;
    &-contain{
        width: 80%;
        margin: 7% auto !important;
        h1{
            font-weight: 600;
        }
        h2{
            font-size: 1.4rem !important;
            color: $yellow !important;
        }
        &-img{
            img{
                width: 100% !important;
                height: 100% !important;
                min-height: 300px;
                object-fit: cover;
            }
        }
    }
}