@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./global-variables.scss";

* {
  user-select: none;
}
body {
  margin: 0 auto !important;
  font-family: "montserrat" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1920px;
  display: block;
  font-size: 17px;
}
.contain {
  background-color: $violet-dark;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
li {
  color: $white !important;
}

h2 {
  font-weight: 800 !important;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $violet-dark;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $violet-dark;
}
h2{
  font-size: 2.5rem !important;
  @media screen and (max-width: 1200px) {
    font-size: 1.75rem !important;
  }
  @media screen and (max-width: 767px) {
    font-size: 1.25rem !important;
  }
}
p{
  font-size: 1.2rem !important;
  @media screen and (max-width: 1200px) {
    font-size: 1rem !important;
  }
  @media screen and (max-width: 767px) {
    font-size: 0.85rem !important;
  }
}