@import "@/A/global-variables.scss";
.skillsSection {
  padding: 5%;
  background-color: $violet-light;
  span {
    color: $yellow !important;
  }
  &-image {
    width: 70% !important;
    height: 60% !important;
  }
  &-card {
    background-color: $violet-dark;
    border: 1px solid #f1f1f191;
    border-radius: 30px;
  }
}
