@import "@/A/global-variables.scss";
.lang-switcher-icon {
  display: inline-block;
  border-radius: 50%;
  padding: 3px;
  transition: all 0.25s ease;
}

.lang-switcher-icon.active-lang {
  transform: scale(1.25);
  background: rgba(255, 255, 255, 0.12);
  box-shadow: 0 0 12px rgba(180, 140, 255, 0.6); // soft purple glow
  border-radius: 50%;
  padding: 4px;
  transition: all 0.25s ease;
}

.lang-switcher-icon.active-lang img {
  transform: scale(1.1);
}
