@import "@/A/global-variables.scss";
.Blog-home{
    padding-top: 6%;
    padding-bottom: 6%;
    &-contain{
      
        width: 80%;
        a{
            text-decoration: none;
        }
 @media screen and ( min-width:767px) {
  .Blog-home-contain-url{
    a{
        display: block;
        margin:auto 10%;
       width: 60% !important;
    }
}
    &-1{
        transform: translateX(25%) !important;
    }
    &-2{
        transform: translateX(50%) !important;
    }
 }
        h3{
            border-bottom: 2px solid $white !important;
        }
        a:hover h3{
            color:$yellow !important;
            border-bottom: 2px solid $yellow !important;
        }
    }
    &-link{
        float: right;
        width: 150px !important;
        display: block;
        border: 2px solid $white;
        &:hover{
            border: 2px solid $yellow;
            color: $yellow !important;
        }
    }
}